@page "/"

@rendermode InteractiveServer

@attribute [StreamRendering]

<PageTitle>Home</PageTitle>

<h1 style="display: flex; justify-content: space-between; align-items: center;">
    Customers
    <button class="btn btn-primary"  @onclick="() => AddCustomer()">
        <span class="material-icons">
            add_person
        </span>
    </button>
</h1>


@if (customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in CurrentPageItems)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.Name</td>
                    <td>@customer.Email</td>
                    <td>@customer.Phone</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => EditCustomer(customer)">
                            <span class="material-icons">
                                edit
                            </span>
                        </button>

                        <button class="btn btn-danger" @onclick="() => DeleteCustomer(customer)">
                            <span class="material-icons">
                                delete
                            </span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-primary" @onclick="GoToPreviousPage" disabled="@IsFirstPage"><span class="material-symbols-outlined">
    arrow_back_ios
    </span></button>
        <button class="btn btn-primary" @onclick="GoToNextPage" disabled="@IsLastPage"><span class="material-symbols-outlined">
    arrow_forward_ios
    </span></button>
}

@* Modals *@

<Modal @ref="editModal">
    <Title>Edit Customer</Title>
    <Body>
    <div style="text-align: center;">
        <p>@alert</p>
    </div>
        <CustomerForm SelectedCustomer="selectedCustomer" />
    </Body>
    <Footer>
        <button type="button" class="btn btn-primary" @onclick="()=>SaveCustomerChange(selectedCustomer)">Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="() => editModal!.Close()">Cancel</button>
    </Footer>
</Modal>

<Modal @ref="addModal">
    <Title>Add Customer</Title>
    <Body>
    <div style="text-align: center;">
        <p>@alert</p>
    </div>
        <CustomerForm SelectedCustomer="selectedCustomer" />
    </Body>
    <Footer>
        <button type="button" class="btn btn-primary" @onclick="()=>SaveNewCustomer(selectedCustomer)">Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="() => addModal!.Close()">Cancel</button>
    </Footer>
</Modal>

<Modal @ref="deleteModal">
    <Title>Delete Customer</Title>
    <Body>
    <div style="text-align: center;">
    <div style="display: inline-flex; justify-content: center; align-items: center; width: 50px; height: 50px; border-radius: 50%; background-color: red; margin-bottom: 10px;">
        <span class="material-icons" style="font-size: 24px; color: white;">priority_high</span>
    </div>        
    <h3>Are you sure?</h3>
        <p>Do you really want to delete this record? This process cannot be undone.</p>
    </div>
    </Body>
    <Footer>
        <button type="button" class="btn btn-danger" @onclick="SaveCustomerDeletion">Delete</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" @onclick="() => deleteModal!.Close()">Cancel</button>
    </Footer>
</Modal>

